@model CS.Models.Customer
@{
    ViewBag.Title = "ASP.NET MVC - Cascading Combo Boxes";
}
<h2>@ViewBag.Message</h2>
@using(Html.BeginForm()) {  
    @Html.Partial("CountryPartial", Model)
    @Html.Partial("CityPartial", Model)
    <input type="submit" value="Submit" />
}